<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">---== Space Frontier ==---</span>
        <span id="welcomeDescription">Our mission is to offer you a futuristic-looking world as imagined by Pop-culture. This universe is yours and has a lot to offer in terms of possibilities, which fate will you choose? The one of a soldier in another empire? The one of a bandit crossing the universe? The one of a hit man? Are you going to join the rebellion and try to ressurect the Galactic Republic once again? The choice is yours, however you will not be alone, and powerful opponents might stand in your way ... So ... Have fun, and May the force be with you, always.</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from launching yourself into this vast universe.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>